# 4주차 예상문제 1

데이터 출처 :https://www.kaggle.com/teejmahal20/airline-passenger-satisfaction?select=train.csv (참고, 데이터 수정)

데이터 설명 : 비행탑승 경험 만족도 (satisfaction 컬럼 : 'neutral or dissatisfied' or satisfied ) 

문제타입 : 분류유형

평가지표 : accuracy

trainData url : https://raw.githubusercontent.com/Datamanim/datarepo/main/airline/train.csv

testData url : https://raw.githubusercontent.com/Datamanim/datarepo/main/airline/test.csv

출처 : 4주차 예상문제 1 (이기적 스터디 카페 / 컴활,정보처리,빅분기) | 작성자 빅분기 실기조교

In [1]:
import pandas as pd

train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/airline/train.csv")
test = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/airline/test.csv")

In [2]:
train

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,55882,Male,Loyal Customer,42,Business travel,Business,473,1,1,3,...,5,5,5,5,3,5,3,3,0.0,satisfied
1,31906,Female,Loyal Customer,31,Business travel,Business,3271,4,4,4,...,3,3,5,5,3,4,3,1,5.0,satisfied
2,85481,Male,Loyal Customer,51,Personal Travel,Eco,214,5,0,5,...,3,4,4,4,4,4,3,2,0.0,satisfied
3,102134,Male,Loyal Customer,44,Business travel,Business,3097,1,1,3,...,4,4,4,4,3,4,5,0,0.0,satisfied
4,31580,Male,Loyal Customer,33,Business travel,Business,3286,1,1,1,...,4,2,5,2,5,1,4,0,0.0,satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83118,9745,Male,Loyal Customer,39,Business travel,Business,3706,1,1,1,...,4,4,4,4,2,4,4,1,0.0,satisfied
83119,5190,Male,Loyal Customer,49,Business travel,Business,295,0,0,0,...,1,1,1,1,4,1,4,0,0.0,satisfied
83120,41381,Female,Loyal Customer,62,Business travel,Business,1914,3,5,5,...,3,3,3,3,3,3,3,64,48.0,neutral or dissatisfied
83121,79829,Female,Loyal Customer,53,Business travel,Business,3681,2,2,2,...,4,4,4,4,3,4,3,45,21.0,satisfied
83122,84734,Female,Loyal Customer,51,Business travel,Business,2943,2,2,2,...,4,4,4,4,5,4,3,0,0.0,satisfied

In [3]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83123 entries, 0 to 83122
Data columns (total 24 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   id                                 83123 non-null  int64
 1   Gender                             83123 non-null  object
 2   Customer Type                      83123 non-null  object
 3   Age                                83123 non-null  int64
 4   Type of Travel                     83123 non-null  object
 5   Class                              83123 non-null  object
 6   Flight Distance                    83123 non-null  int64
 7   Inflight wifi service              83123 non-null  int64
 8   Departure/Arrival time convenient  83123 non-null  int64
 9   Ease of Online booking             83123 non-null  int64
 10  Gate location                      83123 non-null  int64
 11  Food and drink                     83123 non-null  int64
 12  Online boarding                    83123 non-null  int64
 13  Seat comfort                       83123 non-null  int64
 14  Inflight entertainment             83123 non-null  int64
 15  On-board service                   83123 non-null  int64
 16  Leg room service                   83123 non-null  int64
 17  Baggage handling                   83123 non-null  int64
 18  Checkin service                    83123 non-null  int64
 19  Inflight service                   83123 non-null  int64
 20  Cleanliness                        83123 non-null  int64
 21  Departure Delay in Minutes         83123 non-null  int64
 22  Arrival Delay in Minutes           82867 non-null  float64
 23  satisfaction                       83123 non-null  object
dtypes: float64(1), int64(18), object(5)
memory usage: 15.2+ MB

In [4]:
train.describe()

,id,Age,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
count,83123.000000,83123.000000,83123.000000,83123.000000,83123.000000,83123.000000,83123.000000,83123.000000,83123.000000,83123.000000,83123.000000,83123.000000,83123.000000,83123.000000,83123.000000,83123.000000,83123.00000,83123.000000,82867.000000
mean,64967.466610,39.360249,1191.164455,2.729545,3.060296,2.757612,2.978405,3.204721,3.252060,3.440588,3.359660,3.382060,3.351299,3.632641,3.302516,3.642686,3.28690,14.777763,15.132477
std,37472.601456,15.102492,997.171944,1.327213,1.523947,1.398630,1.277390,1.330112,1.349006,1.319980,1.332698,1.287719,1.315613,1.180139,1.262015,1.175697,1.31147,37.904165,38.396170
min,2.000000,7.000000,31.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.00000,0.000000,0.000000
25%,32511.500000,27.000000,414.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,3.000000,3.000000,3.000000,2.00000,0.000000,0.000000
50%,64981.000000,40.000000,846.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,4.000000,4.000000,4.000000,4.000000,4.000000,3.000000,4.000000,3.00000,0.000000,0.000000
75%,97437.000000,51.000000,1744.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,5.000000,4.000000,4.000000,4.000000,5.000000,4.000000,5.000000,4.00000,12.000000,13.000000
max,129879.000000,85.000000,4983.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.00000,1592.000000,1584.000000

In [5]:
train.isnull().sum()

id                                     0
Gender                                 0
Customer Type                          0
Age                                    0
Type of Travel                         0
Class                                  0
Flight Distance                        0
Inflight wifi service                  0
Departure/Arrival time convenient      0
Ease of Online booking                 0
Gate location                          0
Food and drink                         0
Online boarding                        0
Seat comfort                           0
Inflight entertainment                 0
On-board service                       0
Leg room service                       0
Baggage handling                       0
Checkin service                        0
Inflight service                       0
Cleanliness                            0
Departure Delay in Minutes             0
Arrival Delay in Minutes             256
satisfaction                           0
dtype: int64

## 전처리

In [6]:
X = train.drop(['id', 'satisfaction', 'Arrival Delay in Minutes'], axis=1)
y = train['satisfaction']

X = pd.get_dummies(X)
y = y.map(lambda x: 1 if x == 'satisfied' else 0)

## 데이터 분리

In [7]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, stratify=y)

## 모델 학습

In [8]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

## 모델 평가

In [9]:
from sklearn.metrics import accuracy_score

In [10]:
accuracy_score(y_pred, y_test)

0.9630669286602238

In [11]:
model.score(X_test, y_test)

0.9630669286602238

In [12]:
from sklearn.metrics import roc_auc_score
roc_auc_score(y_pred, y_test)

0.9642222800094842

## 테스트 평가

In [13]:
test = test.drop(['id', 'Arrival Delay in Minutes'], axis=1)
test = pd.get_dummies(test)

model.predict(test)

array([1, 0, 0, ..., 1, 0, 1], dtype=int64)

# 4주차 예상문제 2

데이터 출처 :https://www.kaggle.com/adityakadiwal/water-potability(참고, 데이터 수정)

데이터 설명 : 수질 음용성 여부 (Potablillity 컬럼 : 0 ,1 )

문제타입 : 분류유형

평가지표 : accuracy

trainData url : https://raw.githubusercontent.com/Datamanim/datarepo/main/waters/train.csv

testData url : https://raw.githubusercontent.com/Datamanim/datarepo/main/waters/test.csv​

출처 : 4주차 예상문제 2 (이기적 스터디 카페 / 컴활,정보처리,빅분기) | 작성자 빅분기 실기조교

In [14]:
import pandas as pd

train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/waters/train.csv")
test = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/waters/test.csv")

In [15]:
train

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,7.918150,214.186611,23823.492888,7.290878,341.173322,411.424483,19.585002,25.057375,4.028958,0
1,5.422446,205.266080,18542.957451,5.491963,306.702227,382.080129,10.504023,67.493450,2.911751,1
2,7.341547,187.672402,21273.457066,7.784003,NaN,332.084293,16.842334,55.019151,4.025644,0
3,9.056245,197.666301,17403.532167,7.688917,337.460176,414.766631,15.349869,63.696746,3.319354,0
4,5.039374,142.860598,40829.353167,7.271543,NaN,386.803057,16.823773,52.297113,4.957420,0
...,...,...,...,...,...,...,...,...,...,...
2615,8.060610,208.042711,15489.325660,5.620299,361.970424,423.420838,15.371550,75.445589,3.600906,0
2616,8.238997,199.594539,25046.798640,9.288020,350.835986,328.363398,18.743231,54.416965,3.089924,1
2617,5.694694,240.712182,7998.674511,8.124265,NaN,477.047807,15.459307,68.895603,3.870611,1
2618,NaN,203.050244,28184.900527,7.076634,344.524179,445.700761,19.775367,53.270152,4.456104,0
2619,5.907078,213.471081,41839.456449,7.924762,312.329947,357.258970,15.598965,54.421879,4.296480,0

In [16]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2620 entries, 0 to 2619
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ph               2225 non-null   float64
 1   Hardness         2620 non-null   float64
 2   Solids           2620 non-null   float64
 3   Chloramines      2620 non-null   float64
 4   Sulfate          2003 non-null   float64
 5   Conductivity     2620 non-null   float64
 6   Organic_carbon   2620 non-null   float64
 7   Trihalomethanes  2488 non-null   float64
 8   Turbidity        2620 non-null   float64
 9   Potability       2620 non-null   int64
dtypes: float64(9), int64(1)
memory usage: 204.8 KB

In [17]:
train.describe()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
count,2225.000000,2620.000000,2620.000000,2620.000000,2003.000000,2620.000000,2620.000000,2488.000000,2620.000000,2620.000000
mean,7.059707,196.264418,22093.718726,7.128428,333.128452,426.860672,14.255754,66.362313,3.973541,0.390076
std,1.608470,33.367043,8840.992109,1.589347,41.675257,81.005322,3.335463,16.176955,0.776490,0.487860
min,0.000000,47.432000,728.750830,0.352000,129.000000,181.483754,2.200000,0.738000,1.450000,0.000000
25%,6.069364,176.676887,15675.546419,6.133588,307.592458,366.706407,12.053075,55.614198,3.439540,0.000000
50%,7.025504,197.103467,20972.316194,7.145240,332.239359,422.145751,14.207656,66.363580,3.969391,0.000000
75%,8.064653,217.024476,27410.099280,8.124300,358.967592,482.843561,16.509051,77.517441,4.514376,1.000000
max,14.000000,317.338124,61227.196008,13.043806,481.030642,753.342620,28.300000,120.030077,6.357439,1.000000

In [18]:
train.isnull().sum()

ph                 395
Hardness             0
Solids               0
Chloramines          0
Sulfate            617
Conductivity         0
Organic_carbon       0
Trihalomethanes    132
Turbidity            0
Potability           0
dtype: int64

## 전처리

In [19]:
train.median()

ph                     7.025504
Hardness             197.103467
Solids             20972.316194
Chloramines            7.145240
Sulfate              332.239359
Conductivity         422.145751
Organic_carbon        14.207656
Trihalomethanes       66.363580
Turbidity              3.969391
Potability             0.000000
dtype: float64

In [20]:
train = train.fillna(train.median())
test = test.fillna(test.median())

## 데이터 분리

In [21]:
X = train.drop(['Potability'], axis=1)
y = train['Potability']

In [22]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, stratify=y)

## 모델 학습

In [23]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

## 모델 평가

In [24]:
from sklearn.metrics import accuracy_score

accuracy_score(y_test, y_pred)

0.6475826972010178

In [25]:
from sklearn.metrics import roc_auc_score
roc_auc_score(y_test, y_pred)

0.5909672023012111

## 테스트

In [26]:
model.predict(test)

array([1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1,
       0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0,
       1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1,
       0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0,
       1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0,
       0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0,
       0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1,
       0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0,
       0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0,
       1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0], dtype=int64)