# 4주차 예상문제 1

데이터 출처 :https://www.kaggle.com/teejmahal20/airline-passenger-satisfaction?select=train.csv (참고, 데이터 수정)

데이터 설명 : 비행탑승 경험 만족도 (satisfaction 컬럼 : 'neutral or dissatisfied' or satisfied )   (83123, 24) shape

Data url :https://raw.githubusercontent.com/Datamanim/datarepo/main/airline/train.csv

출처 : 4주차 예상문제 1 (이기적 스터디 카페 / 컴활,정보처리,빅분기) | 작성자 빅분기 실기조교

In [1]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/airline/train.csv")

In [2]:
df

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,55882,Male,Loyal Customer,42,Business travel,Business,473,1,1,3,...,5,5,5,5,3,5,3,3,0.0,satisfied
1,31906,Female,Loyal Customer,31,Business travel,Business,3271,4,4,4,...,3,3,5,5,3,4,3,1,5.0,satisfied
2,85481,Male,Loyal Customer,51,Personal Travel,Eco,214,5,0,5,...,3,4,4,4,4,4,3,2,0.0,satisfied
3,102134,Male,Loyal Customer,44,Business travel,Business,3097,1,1,3,...,4,4,4,4,3,4,5,0,0.0,satisfied
4,31580,Male,Loyal Customer,33,Business travel,Business,3286,1,1,1,...,4,2,5,2,5,1,4,0,0.0,satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83118,9745,Male,Loyal Customer,39,Business travel,Business,3706,1,1,1,...,4,4,4,4,2,4,4,1,0.0,satisfied
83119,5190,Male,Loyal Customer,49,Business travel,Business,295,0,0,0,...,1,1,1,1,4,1,4,0,0.0,satisfied
83120,41381,Female,Loyal Customer,62,Business travel,Business,1914,3,5,5,...,3,3,3,3,3,3,3,64,48.0,neutral or dissatisfied
83121,79829,Female,Loyal Customer,53,Business travel,Business,3681,2,2,2,...,4,4,4,4,3,4,3,45,21.0,satisfied
83122,84734,Female,Loyal Customer,51,Business travel,Business,2943,2,2,2,...,4,4,4,4,5,4,3,0,0.0,satisfied

## Q1. Arrival Delay in Minutes 컬럼이 결측치인 데이터들 중 'neutral or dissatisfied' 보다 'satisfied'의 수가 더 높은 Class는 어디인가?

In [3]:
temp_df = df[df['Arrival Delay in Minutes'].isnull()]

In [4]:
temp_df.groupby(['satisfaction', 'Class'], as_index=False).size().pivot(index='Class', columns='satisfaction')

                                size
satisfaction neutral or dissatisfied satisfied
Class
Business                          36        76
Eco                              100        25
Eco Plus                          15         4

=> Business

-------

# 4주차 예상문제 2

데이터 출처 :https://www.kaggle.com/adityakadiwal/water-potability

(참고, 데이터 수정)

데이터 설명 : 수질 음용성 여부 (Potablillity 컬럼 : 0 ,1 )

Data url :https://raw.githubusercontent.com/Datamanim/datarepo/main/waters/train.csv

출처 : 4주차 예상문제 2 (이기적 스터디 카페 / 컴활,정보처리,빅분기) | 작성자 빅분기 실기조교

In [5]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/waters/train.csv")

In [6]:
temp_df = df[~df['ph'].isnull()]

In [7]:
temp_df['ph'].quantile(0.25)

6.069363893970801

In [8]:
temp_df[temp_df['ph'] <= temp_df['ph'].quantile(0.25)]['ph'].mean()

5.057093462441732